{{define "token_p1"}}
<span class="token token-p1" style="
  display:inline-block;width:26px;height:26px;line-height:26px;
  text-align:center;border-radius:50%;background:#ffa94d;color:#111;font-weight:700;
">●</span>
{{end}}
