{{define "token_p1"}}
<div class="token" style="background-image:url('/static/img/orange_token.png'); width: 100%; height: 100%; background-size: contain; background-repeat: no-repeat;"></div>
{{end}}