{{define "token_p2"}}
<span class="token token-p2" style="
  display:inline-block;width:26px;height:26px;line-height:26px;
  text-align:center;border-radius:50%;background:#6ea8ff;color:#111;font-weight:700;
">●</span>
{{end}}
