{{define "token_p2"}}
  <div class="token"
       style="background-image: url('/static/img/purple_token.png');
              width: 70%; height: 70%;
              background-size: contain;
              background-repeat: no-repeat;
              margin: auto;">
  </div>
{{end}}
